*,
*::after,
*::before {
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-image:url('../static/lightbackground.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
