.menu__section {
  top:0;
  width:100%;
  padding-top: 8rem;
  display: block;
}

.menu__load {
  transform: scale(1.2);
  margin-left: 2rem;
}

.menu {
  &__label {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 0;
    margin: 0 1rem;
  }
}

.btn-group {
  margin-left: 2rem;
  @include respond(tab-land) {
    margin-left:2rem;
    margin-top:1rem;
    width: 75vw;
  }
  .btn {
    width: 6rem;
    text-align: center;
    transform: all .2s;

    &:focus {
      background-color: $color-white;
      color: $color-black;
    }
  }
}
