.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 5rem;
}

.menu {

  &__section {
    top:0;
    width:100%;
    padding-top: 6rem;
    display: block;
    @include respond(tab-land) {
      padding-top: 12rem;
    }
  }

  &__label {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:1;
    grid-row-end: 2;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1.5rem;
    text-transform: uppercase;

    text-align: center;
    padding: 1rem 0;
  }

  &__load {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:3;

    font-size: 3rem !important;
    font-weight: bold;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
}

.btn-group {
  margin-left: 2rem;
  @include respond(tab-land) {
    margin-left:2rem;
    margin-top:1rem;
    width: 75vw;
  }
  .btn {
    width: 6rem;
    text-align: center;
    transform: all .2s;

    &:focus {
      background-color: $color-white;
      color: $color-black;
    }
  }
}
