.card {
  font-size: 2.5rem;
  font-weight: bold;

  border:1px solid $color-black;
  border-radius: 5px;

  width: 50%;
  color:$color-pewter;
  background-image:url('../static/starbackground.jpg');

  //the last element doesn't need 2% margin,(but still need to center);
  margin: 0 auto;
  &:not(:last-child){
    margin:2% auto;
  }

  @include respond(tab-land) {
    width: 100%;
  }

  &__question {
    border-bottom: 1px dotted $color-white;
    padding: 10px;
  }

  &__answer-list {
    position: relative;
    padding: 1rem;
  }

  &__answer {
    font-size: 2rem;
    display: inline-block;
    width: 40%;

    @include respond(tab-land) {
      font-size: 1.5rem;
    }

    background: linear-gradient(to right, $color-white 50%, $color-black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
    color:$color-bumblebee;

    border: 3px solid $color-bumblebee;
    border-radius: 3px;
    box-shadow: 1px 2px $color-gray;

    margin: 1rem;
    padding: 1rem;

    @include respond(tab-land) {
      margin: .5rem 0;
      width: 100%;
      display: block;
    }

    &:hover {
      cursor: pointer;
      background-position: left bottom;
      color: $color-black;
    }

    &:disabled {
      cursor: no-drop;
      pointer-events: all !important;
    }

    &--false {
      background: $color-red;
      color:$color-black;
    }

    &--true {
      background: $color-green;
      color:$color-black;
    }
  }
}

.red {
  background-color: red !important;
}
