.score__section {
  top: 0;
  left:0;
  position: fixed;
  width:100%;
  text-align: center;
  color:$color-white;
  background-image: url('../static/star.jpg');
  z-index: 1;
}

.score{

  &__title {
    font-size:3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  &__description {
    font-size:2em;
  }
}
