.list-section {
  text-align: center;
  min-height: 100vh;
  margin-top: -.5em;
  background-image:url('../static/lightbackground.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
